body{
    font-weight: bold;
}

h1{
    color: red;
}

#navbarBackground{
    background-color: black;
}

.navbar-custom {  
    background-color: black;  
}  

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link {
   color: white; 
   text-decoration: none;
}

.active{
    color: rgb(177, 177, 177); 
    text-decoration: underline;
}

.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover, .nav-link:hover, .active:hover {
    color: rgb(177, 177, 177); 
    text-decoration: underline;
    transition: 300ms;
 }

.navbar-toggler-icon{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
 }
/*
 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '▶';
  font-size: 70px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '◀';
  font-size: 70px;
  color: black;
} 

.carousel-control-right{
  font-size: 70px;
  color: black;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; /* change width */
    height: 10px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #949393;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;  /* add border-radius */
}

#footerContainer{
    background-color: black;
    color: white;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: scale-down;
    border-radius: 4px 4px 0 0;
}

.card-body>a{
  text-decoration: none;
  color: black;
}
/*
.card{
  width: 100%;
  margin: 0 auto 50px auto;
  border-radius: 10px;
}
*/